{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "avoid",

  "overrides": [
    {
      "files": "*.java",
      "options": {
        "useTabs": true,
        "tabWidth": 4,
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
